{
  "PORT": 7777,
  "TITLE": "App Title",
  "LOG_LEVEL": "INFO",
  "GITHUB_TOKEN": "personal access token with admin:repo_hook + access",
  "GITHUB_HOOK_ROUTE": "Github hook route",
  "GITHUB_HOOK_SECRET": "secret used to validate webhooks",
  "APP_WORKDIR" : "./hooks"
}
