{
  "PORT": 7777,
  "TITLE": "octohook-priorities",
  "LOG_LEVEL": "INFO",
  "GITHUB_TOKEN": "personal access token with admin:repo_hook + access",
  "GITHUB_HOOK_SECRET": "secret used to validate webhooks",
  "TITLE" : "This is the Test Repo",
  "GITHUB_ORGANIZATION" : "BlueAcornInc",
  "APP_WORKDIR" : "./hooks"
}
